<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand mb-0 h1" href="video-chat">Video Chat</a>
  <form id="navbar-form" class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-success my-2 my-sm-0" onclick="copyToClipboard(event, ROOM_ID)">Copy room id</button>
    <input id="join-field" class="form-control mr-sm-2" type="search" placeholder="Enter id of room to join" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" onclick="joinRoomId(event)">Join</button>
  </form>
</nav>