<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script>
      const ROOM_ID = "<%= roomId %>"
    </script>
    
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/navbar.ejs'); -%>
    <div class="container">
      <div class="row video-space">
        <div class="col">
          <div id="video-grid"></div>
        </div>
        
      </div>
      
      <div class="row">
        <div class="message-box">
          <div id="message-container"></div>
        </div>
        <form id="send-container">
          <input type="text" id="message-input" class="col">
          <button type="submit" id="send-button" class="btn btn-primary btn-lg">Send</button>
        </form>
      </div>
  </div>
    
    <script src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" ></script>
    <script src="/javascript/script.js" ></script>
  </body>
</html>