* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

/* Video */
.video-space{
  min-height: 500px;
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 300px;
  justify-content: space-around;
  padding: 20px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Messenger */
.message-box{
  width: 100%;
  padding: 30px;
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;
} 

#message-container {
  width: 100%;
  max-width: 1200px;
}

#message-container div {
  background-color: #CCC;
  padding: 5px;
}

#message-container div:nth-child(2n) {
  background-color: #FFF;
}

#send-container {
  bottom: 0;
  background-color: white;
  max-width: 1200px;
  width: 1000%;
  display: flex;
}

/* Navbar */
.form-inline .form-control{
  margin-left: 10px;
  width: 400px;
}